body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}
.limitador {
	max-width: 1000px;
	margin: 0px auto;
}
img {
	max-width: 100%;
}
ul {
	padding: 0px !important;
}
.menu-principal {
	background-color: #33a9a5;
}
main,
.content {
	margin: 0 auto;
	width: 980px;
	position: relative;
}
.logo {
	padding: 16px;
}
.redes-sociais ul li {
	margin-left: 25px;
	margin-top: 65px;
	display: inline-block;
	list-style: none;
}
.redes-sociais {
	text-align: right;
}
.header-2 {
	background-color: #ffffff;
	padding: 16px 16px 0px;
}
.menu ul {
	margin: 0px;
}
.menu ul li {
	display: inline-block;
	color: #8b8b8b;
	margin-left: 15px;
	height: 50px;
}

.menu ul li:hover {
	border-bottom: 3px solid #00bac6;
}

.menu ul li a:hover {
	color: #00bac6;
}

.menu ul li a {
	color: #8b8b8b;
	text-decoration: none;
	font-size: 18px;
	text-transform: uppercase;
}
.busca {
	text-align: center;
	width: 30%;
	float: right;
}
.busca input {
	background-image: url(../img/icone-search.png);
	background-repeat: no-repeat;
	height: 36px;
	padding: 12px;
	width: 190px;
	margin-top: 10px;
	background-position: 96%;
	border: 1px solid #d6d6d6;
}

.secao-3 {
	padding: 50px 0px;
	background-color: #eeeeee;
}

button.slick-prev {
	font-size: 0px;
	border: none;
	width: 25px;
	height: 51px;
	z-index: 9;
	background-color: transparent;
	position: absolute;
	background-image: url(../img/anterior.png);
	top: 35%;
	left: 14%;
}
button.slick-next {
	font-size: 0px;
	border: none;
	width: 25px;
	height: 51px;
	z-index: 9;
	background-color: transparent;
	position: absolute;
	background-image: url(../img/proximo.png);
	top: 35%;
	right: 14%;
}
.slick-list {
	width: 100% !important;
}
.slick-initialized {
	overflow: hidden;
}
.slick-dots li button {
	font-size: 0px;
	border: 5px solid #ffffff;
	width: 26px;
	height: 26px;
	background: transparent;
	border-radius: 50%;
	cursor: pointer;
}
.slick-dots {
	margin: 0 auto;
	width: 50%;
	position: absolute;
	left: 50%;
	top: 600px;
}

li.slick-active button {
	background: #00bac6;
}

.slick-dots li {
	padding-left: 10px;
	display: inline-block;
}

.texto-destaque {
	text-align: center;
}
.texto-destaque strong {
	color: #646464;
}
.texto-destaque h1 {
	text-transform: uppercase;
	font-size: 30px;
	color: #818181;
}
.texto-destaque p {
	font-size: 15px;
	color: #9a9a9a;
}

.col-3 {
	text-align: center;
	padding-left: 15px;
	padding-right: 15px;
	width: 29%;
	float: left;
	position: center;
}
.bloco-imagem img {
	margin: auto;
	width: 100%;
	height: auto;
}
.bloco-imagem {
	border: 1px solid #00adc6;
	padding: 20px;
	margin-top: 20px;
}
.bloco-imagem b,
p {
	text-align: center;
}
.bloco-texto {
	margin-top: 3em;
}

h3 {
	font-weight: normal !important;
}

.bloco-imagens-texto {
	background-color: #eeeeee;
}
.col-4 {
	float: left;
	width: 25%;
	text-align: center;
}
.col-4 img {
	cursor: pointer;
	margin: 0 auto;
	padding-top: 1em;
	vertical-align: middle;
}
.col-4 img:hover {
	margin-top: 10px !important;
	position: relative !important;
}

.bloco-logos {
	height: 170px;
}

.bloco-logos img {
	margin-top: 50px;
}

.footer h3 {
	text-align: left;
}

.footer {
	background-color: #33a9a5;
	color: #ffffff;
}

.footer-2 {
	background-image: url("../img/footer.png");
	color: #c1c1c1;
	height: 90px;
}

.footer p {
	width: 90%;
	text-align: left;
}

.footer-2 p {
	padding: 10px;
}

.clock {
	color: #ffffff !important;
}

.clock:before {
	content: "";
	width: 15px;
	height: 15px;
	display: inline-block;
	background-image: url("../img/clock.png");
	background-repeat: no-repeat;
	padding-left: 5px;
}

.local:before,
.emailico:before,
.telefoneico:before {
	content: "";
	width: 17px;
	height: 24px;
	display: inline-block;
	background-repeat: no-repeat;
	padding-left: 5px;
}
.local:before {
	background-image: url("../img/local.png");
}
.emailico:before {
	background-image: url("../img/emailico.png");
}
.telefoneico:before {
	background-image: url("../img/telefoneico.png");
}

.compra_texto {
	display: table-cell;
	float: left;
	width: 30px;
	margin-right: 20%;
}

.a1 {
	font-family: Arial;
	font-size: 10px;
	color: #041e27;
}

.b1 {
	font-family: Arial;
	font-size: 25px;
	color: #00adc6;
}

.a2 {
	font-family: Arial;
	color: rgb(55, 95, 121);
}

.botao2 {
	display: inline-block;
	margin: 1em;
	margin-left: 5%;
	padding: 0.5em 1em;
	width: 150px;
	height: 40px;
	text-decoration: none;
	background: #00bfff;
	color: #e5eef3;
	border: 0em;
	text-shadow: 2px 2px 2px rgba(21, 11, 68, 0.5);
	border-radius: 1em;
	box-shadow: 2px 2px 0 1px rgb(74, 47, 228);
}

.botao2:active {
	box-shadow: 0 0 0 0 #41acee, inset 3px 3px 3px #41acee;
	transform: translate(3px, 3px);
}
